*{
    margin: 0;
    padding: 0;
    
}

.header_wrapper .navbar{
    background-color: black;
}

.header_wrapper .navbar-brand{
    
    font-size: 80px;
    font-weight: 1000;
    color: white;
    margin-left: 165px;
    
}

.header_wrapper .nav-item .nav-link{
    font-size: 60px;
    font-weight: 400;
    color: white;
    margin-right: 80px;
    
}


.wrapper_banner{
    background-color: black;
}

.wrapper_banner p{
    font-size: 200px;
    font-weight: 800;
    color: white;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: float 5s ease-in-out infinite;
    margin-left: -640px;

}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(300px);
    }
    100% {
        transform: translatey(0px);
    }
}

.arrow{
    width: 20%;
    /* align-items: center; */
    margin-left: 600px;
    color: white;
}

.about_container{
    display: flex;
}

.wrapper_about h1{
    font-weight: 800;
    font-size: 100px;
    margin-top: 300px;
}


.wrapper_about p{
    margin-top: 50px;
    font-size: 50px;
    font-weight: 400;

}
.wrapper_contact{
    background-color: black;
}

.wrapper_contact h3{
    
    margin-left: 1800px;
    font-size: 120px;
    font-weight: 800;
    color: white;
    padding-top: 50px;
    margin-bottom: 60px;
}

.wrapper_contact button{
    
    font-size: 70px;
    margin-left: 700px;
    background-color: white;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 120px;
    
}


input[type="text"], [type="email"]{
    width: 65%;
    margin-left: 700px;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 5px;
}


.card_style{
    width: 400px;
    /* height 400px; */

}


.wrapper_services h1{
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 120px;
    margin-top: 120px;
}
.wrapper_services h5{
    padding-left: 40px;
    /* text-align: center; */
    font-size: 60px;
    font-weight: 800;
}

.wrapper_services p{
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;   
    margin-top: 50px;
    font-size: 50px;
    font-weight: 350;
    
}

.card{
    border: 2px solid black;
    margin-left: 165px;
    
    
    
}

.wrapper_services .card :hover{
    background-color: black;
    color: white;
}


@media (max-width:991px){
    .header_wrapper .navbar-brand{
    
        font-size: 60px;
        font-weight: 600;
        color: white;
        margin-left: 50px;
        
    } 
    
    .header_wrapper .nav-item .nav-link{
        font-size: 50px;
        font-weight: 400;
        color: white;
        margin-right: 100px;
        
    }

   

    .about_container{
        display: flex;
    }
    
    .wrapper_about h1{
        font-weight: 800;
        font-size: 75px;
        margin-top: 960px;
        margin-left: -120px;
    }
    
    
    .wrapper_about p{
        margin-top: 50px;
        font-size: 40px;
        font-weight: 400;
        margin-left: -390px;
    
    }

    .wrapper_about img{
        width: 215%;
    }

    .wrapper_banner p{
        font-size: 110px;
        font-weight: 800;
        color: white;
        /* animation: name duration timing-function delay iteration-count direction fill-mode; */
        animation: float 5s ease-in-out infinite;
        margin-left: -70px;
    
    }
    
    @keyframes float {
        0% {
            transform: translatey(0px);
        }
        50% {
            transform: translatey(200px);
        }
        100% {
            transform: translatey(0px);
        }
    }

    .wrapper_banner img{
        width: 190%;
    }


}